footer .main__footer, header .main__header .div__header1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section .main__section__index, footer .main__footer .div__footer__redes, .collapse .navbar-nav, header .main__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.caja-padre {
  width: 40%;
  min-width: 590px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.caja-padre .contenedor {
  width: 100%;
  padding: 30px 30px 50px;
  background: linear-gradient(450deg, darkblue, black);
  border: 2px solid rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur 10px;
}
.caja-padre .contenedor * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  font-weight: 500;
}
.caja-padre .contenedor * h2 {
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
}
.caja-padre .contenedor * .skills:not(last-child) {
  margin-bottom: 100px;
}

.skills .detalles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menu {
  position: relative;
  border: 1px solid cyan;
  border-radius: 20px;
}

.menu div {
  position: relative;
  width: 0;
  height: 8px;
  border-radius: 10px;
  border-color: cyan;
}

/*animation */
#html-menu {
  animation: html-barra 2s forwards;
}

@keyframes html-barra {
  100% {
    width: 90%;
  }
}
#css-menu {
  animation: css-barra 2s forwards;
}

@keyframes css-barra {
  100% {
    width: 90%;
  }
}
#grilla {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 100px 700px 400px;
  grid-template-areas: "";
}

header .main__header {
  background-image: url(https://img.freepik.com/vector-gratis/fondo-formas-coloridas-abstractas_23-2148769632.jpg?w=740&t=st=1663208496~exp=1663209096~hmac=8684c1d342182da3690cd7394afdba934ed745a7329aa1477344787b4db10af2);
}
header .main__header .div__header1 .img__logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
header .main__header .div__header1 .titulo__index {
  color: white;
}
header .main__header .div__header__redes .redes__header {
  width: 40px;
  height: 40px;
  border-radius: 70%;
}

.collapse .navbar-nav .nav-item {
  background-color: gray;
  margin: 2px;
  border-radius: 25%;
}
.collapse .navbar-nav .nav-item :hover {
  background-color: orangered;
  border-radius: 25%;
}
.collapse .navbar-nav .nav-item .nav-link {
  color: white;
}

footer .main__footer {
  background-image: url(https://img.freepik.com/vector-gratis/fondo-formas-coloridas-abstractas_23-2148769632.jpg?w=740&t=st=1663208496~exp=1663209096~hmac=8684c1d342182da3690cd7394afdba934ed745a7329aa1477344787b4db10af2);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
}
footer .main__footer .div__footer__redes {
  border-right: 5px solid green;
  border-left-color: 5px solid green;
}
footer .main__footer .div__footer__redes .redes__footer {
  width: 40px;
  height: 40px;
  border-radius: 80%;
  margin: 10px;
}
footer .main__footer .div__footer__redes h6 {
  font-weight: bolder;
  color: white;
}
footer .main__footer .div__footer__contacto {
  color: white;
}
footer .main__footer .div__footer__contacto p {
  padding-top: 15px;
  font-weight: bolder;
}
footer .main__footer .div__footer__contacto h6 {
  font-weight: bolder;
}
footer .main__footer .div__footer__seccion {
  color: white;
  border-right: 5px solid green;
}
footer .main__footer .div__footer__seccion ul {
  list-style-type: none;
}
footer .main__footer .div__footer__seccion ul li {
  margin-top: 15px;
}
footer .main__footer .div__footer__seccion ul li :hover {
  background-color: greenyellow;
  border-radius: 20%;
  color: red;
  padding-top: 15px;
}
footer .main__footer .div__footer__seccion ul a {
  margin-top: 15px;
  color: white;
  font-weight: bold;
}
footer .main__footer .div__footer__seccion h6 {
  color: white;
  font-weight: bold;
}

.carousel-item .carrusel {
  height: 400px;
  width: max-content;
}

section {
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bolder;
}
section .main__section__index {
  justify-content: space-around;
}

.row .col-12 .fix {
  width: 230px;
  height: 230px;
  border-radius: 25%;
}

@media screen and (max-width: 576px) {
  .servicios__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .nieto {
    height: 260vh;
    animation-name: animacion_productos;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 7s;
  }
  @keyframes animacion_productos {
    0% {
      background-color: rgb(174, 72, 9);
    }
    20% {
      background-color: rgb(12, 46, 3);
    }
    40% {
      background-color: rgb(237, 19, 157);
    }
    60% {
      background-color: rgb(246, 23, 7);
    }
    80% {
      background-color: rgb(229, 226, 220);
    }
    100% {
      background-color: rgb(51, 216, 238);
    }
  }
}
@media screen and (min-width: 576px) {
  .nieto {
    animation-name: animacion_productos;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 7s;
  }
  @keyframes animacion_productos {
    0% {
      background-color: rgb(174, 72, 9);
    }
    20% {
      background-color: rgb(12, 46, 3);
    }
    40% {
      background-color: rgb(237, 19, 157);
    }
    60% {
      background-color: rgb(246, 23, 7);
    }
    80% {
      background-color: rgb(229, 226, 220);
    }
    100% {
      background-color: rgb(51, 216, 238);
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .nieto {
    height: 450px;
    animation-name: animacion_productos;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 7s;
    transition: height 2s;
  }
  @keyframes animacion_productos {
    0% {
      background-color: rgb(174, 72, 9);
    }
    20% {
      background-color: rgb(12, 46, 3);
    }
    40% {
      background-color: rgb(237, 19, 157);
    }
    60% {
      background-color: rgb(246, 23, 7);
    }
    80% {
      background-color: rgb(229, 226, 220);
    }
    100% {
      background-color: rgb(51, 216, 238);
    }
  }
}
@media screen and (min-width: 1200px) {
  .nieto {
    height: 400px;
    width: 800px;
    animation-name: animacion_productos;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 7s;
    transition: width 2s;
  }
  .nieto:hover {
    width: 1920px;
  }
  @keyframes animacion_productos {
    0% {
      background-color: rgb(174, 72, 9);
    }
    20% {
      background-color: rgb(12, 46, 3);
    }
    40% {
      background-color: rgb(237, 19, 157);
    }
    60% {
      background-color: rgb(246, 23, 7);
    }
    80% {
      background-color: rgb(229, 226, 220);
    }
    100% {
      background-color: rgb(51, 216, 238);
    }
  }
  .padre {
    display: flex;
    flex-direction: row;
    background-image: url(https://img.freepik.com/foto-gratis/ventas-minoristas-cyber-monday_23-2148688493.jpg?w=1380&t=st=1663519995~exp=1663520595~hmac=ea46815f261659e7a105a57610f75abfb522990534d54c3084af73130b6c6e1b);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
}
.titulo__animado {
  animation-name: title;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes title {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    color: red;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=pruebas.css.map */
