footer {
.main__footer { 
                         background-color: black;
                         @extend %flex-row;
                        justify-content: space-around;
     .div__footer__redes {
                      @extend %flex-column;
                      border-right: 05px solid green;
                      border-left-color: 05px solid green;

            .redes__footer {
                     width: 40px;
                     height: 40px;
                     border-radius: 80%;
                     margin: 10px;
        
                                     }
                 h6 { 
                     font-weight: bolder;
                     color: white;
                     font-family: 'Fuzzy Bubbles', cursive;
                     font-size: 18px;
                                    }
                        
                                       }
    .div__footer__contacto {
                color: white;
        
            p { 
                padding-top: 17px;
                font-weight: bolder;
                font-family: 'Kaushan Script', cursive;


            }
            h6 { 
                font-weight: bolder;
                font-family: 'Fuzzy Bubbles', cursive;
                font-size: 18px;
            }

         }

         .div__footer__seccion { 
            color: white;
            border-right:  05px solid green;;

            ul {

                list-style-type: none;
              
                li {
                    margin-top: 17px;
                     font-family: 'Kaushan Script', cursive;

                     & :hover {
                        background-color: greenyellow;
                        border-radius: 20%;
                        color: red;
                        padding-top: 15px;
                    }
                }


                        a { 
                            margin-top: 15px;
                            color: white;
                            font-weight: bold;

                          



                }

            }

            h6 { 
                color: white;
                font-weight: bold;
                font-family: 'Fuzzy Bubbles', cursive;
                font-size: 18px;
            }
         }
    }



}









