.collapse {
    .navbar-nav{
        @extend %flex-column;
        
        .nav-item {
            background-color: gray;
            margin: 02px;
            border-radius: 25%;
            & :hover {
                background-color: orangered;
                border-radius: 25%;}
                .nav-link {
                    color: white;

                }

            
            }
        }
    }
