@media screen and (max-width:576px) {
    .nieto {

    }

    .nieto { 


        height: 260vh;
        
        animation-name: animacion_productos;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 7s;
    }
    
    
    @keyframes  animacion_productos {
    
        0% { background-color: rgb(174, 72, 9);}
        20% {background-color: rgb(12, 46, 3);}
        40% {background-color: rgb(237, 19, 157);}
        60% {background-color: rgb(246, 23, 7);}
        80% {background-color: rgb(229, 226, 220);}
        100% {background-color: rgb(51, 216, 238);}
    

}
}

@media screen and (min-width:576px) {
 
    .nieto { 


       
        
        animation-name: animacion_productos;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 7s;
    }
    
    
    @keyframes  animacion_productos {
    
        0% { background-color: rgb(174, 72, 9);}
        20% {background-color: rgb(12, 46, 3);}
        40% {background-color: rgb(237, 19, 157);}
        60% {background-color: rgb(246, 23, 7);}
        80% {background-color: rgb(229, 226, 220);}
        100% {background-color: rgb(51, 216, 238);}
}

}

@media screen and (min-width:768px) and (max-width:1200px){
 
    

    .nieto { 

        height: 450px;
        
        animation-name: animacion_productos;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 7s;
        transition: height 2s;
    }
   
       
    
    @keyframes  animacion_productos {
    
        0% { background-color: rgb(174, 72, 9);}
        20% {background-color: rgb(12, 46, 3);}
        40% {background-color: rgb(237, 19, 157);}
        60% {background-color: rgb(246, 23, 7);}
        80% {background-color: rgb(229, 226, 220);}
        100% {background-color: rgb(51, 216, 238);}
}
      

}


@media screen and (min-width:1200px)  {
 
    

        .nieto { 


            height: 400px;
            width: 800px;
            animation-name: animacion_productos;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
            animation-duration: 7s;
            transition: width 2s;
        }
        .nieto:hover { 
            width: 1920px;}
           
        
        @keyframes  animacion_productos {
        
            0% { background-color: rgb(174, 72, 9);}
            20% {background-color: rgb(12, 46, 3);}
            40% {background-color: rgb(237, 19, 157);}
            60% {background-color: rgb(246, 23, 7);}
            80% {background-color: rgb(229, 226, 220);}
            100% {background-color: rgb(51, 216, 238);}
    }
        


         .padre {

            display: flex;
            flex-direction: row;
            background-image: url(https://img.freepik.com/foto-gratis/ventas-minoristas-cyber-monday_23-2148688493.jpg?w=1380&t=st=1663519995~exp=1663520595~hmac=ea46815f261659e7a105a57610f75abfb522990534d54c3084af73130b6c6e1b);
            background-position: center;
            background-size:auto;
            background-repeat: no-repeat;
         }

}

.titulo__animado { 

    animation-name: title;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes title {
    0% {opacity:  0;}
    50% { opacity: 1; color: red;}
    100% { opacity: 0;}
}    
