 


    .col-12 {
        .servicios__cards {

            p { 
                padding: 20px;
                margin: 20px;
            
            }
    .fix {
        width: 230px;
        height: 230px;
        border-radius: 25%;
    }
}

} 


@media screen and (max-width:576px) {
    .servicios__cards {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


         
  }
}





