.row {
    .col-12 {
    .fix {
        width: 230px;
        height: 230px;
        border-radius: 25%;
    }
}

} 


@media screen and (max-width:576px) {
    .servicios__cards {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


         
  }
}





