
.raton {
    background-image: url(https://img.freepik.com/foto-gratis/galaxia-estetica-fondo-negro_53876-111379.jpg?w=740&t=st=1666036312~exp=1666036912~hmac=905f1480b52f6405f63f92d1ea33fda4a949c8b81d9d1a2bb4d9e9845ae5155b);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .gato {

        p { 
            font-family: 'Fuzzy Bubbles', cursive;
                color: black;
                font-size: 24px;
        }

    }

    .formulario-work {
        form {
            label {
                color: white;
                font-weight: bolder;
                font-size: 18px;
            }
            h3 { 
                color: white;
                font-weight: bolder;
                font-size: 24px;
            }
        }
    }
}
